<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Introdução</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>


  <h2 text-center>Manutenção Industrial</h2>
  <ion-img src="assets/imagens/manutencao-industrial.jpg"></ion-img>
  <p padding>
    Com a força e a experiência da Encal, cuidamos das suas instalações para que a sua empresa produza cada vez mais.<br><br>
    A manutenção industrial é um dos meios mais eficientes para se aumentar a produtividade, pois ela visa reduzir a paralisação dos equipamentos que afetam a operação. Garantindo, assim, que os produtos ou serviços sejam executados com eficiência.
  </p>

  <h2 text-center>Montagens Indutriais</h2>
  <ion-img src="assets/imagens/montagem-industrial.jpg"></ion-img>
  <p padding>
    Com processo planejados, trabalho em equipe e execução técnica a Encal executa toda a montagem para sua indústria.<br><br>
    A montagem industrial compreende o pacote de serviços de instalação de equipamentos e estruturas metálicas, tubulações e dutos, sistemas de geração, transformação e distribuição de energia elétrica e sistemas de automação industrial, testados e prontos para funcionar.
  </p>

  <h2 text-center>Caldeiraria</h2>
  <ion-img src="assets/imagens/caldeiraria.jpg"></ion-img>
  <p padding>
    Recuperação, Corte e demais serviços de solda elétrica ou oxi-acetilênica, peças e materiais de aço carbono, ferro fundido, aço liga e alumínio em instalações Off-Shore, On-Shore e Plantas Petroquímicas.<br><br>
    Montagem e a caldeiraria de tubos calandrados, cones, reduções quadrado para redondo, curvas e estruturas metálicas em geral. Atuando em um setor estruturado com calandras, prensas, solda mig, solda elétrica, talhas, empilhadeiras e equipamentos de ponta, a Encal oferece serviços para diversos setores da indústria.
  </p>

  <h2 text-center>Facilities</h2>
  <ion-img src="assets/imagens/facilities.jpg"></ion-img>
  <p padding>
    O objetivo da Encal na utilização dessa ferramenta é proporcionar qualidade e conforto para sua organização, para que você e sua equipe foquem esforços nas suas atividades principais e seus clientes.<br><br>
    Gestão eficiente nas operações da sua empresa integrando conhecimento, processos, pessoas, tecnologia e inovação, atuando como full service provider e especializada em serviços de manutenção predial, serviços volantes, frio alimentar, limpeza social e industrial, serviços de apoio, brigada, jardinagem e gerenciamento de facilities.
  </p>

</ion-content>
