<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Contato</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <h2 text-center>
    Fale Conosco
  </h2>
  <div style="border: solid; height: 300px;" text-center>
    LOCALIZAÇÃO MAPS 
  </div>
  <div text-center padding>
    Avenida José Faria da Rocha, 809<br>
    Bairro Eldorado | Contagem<br>
    Minas Gerais | CEP: 32315-040<br>
    Escritório: (31) 3395-4966<br>
  </div>

</ion-content>
