.back_grad {
    background-image: linear-gradient(#009EE0,#3A3582) !important;
}

.logo_img {
    padding: 30px;
}

input[type=text], input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #535353;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    transition: all 0.5s ease-in-out;
    height: 32px;
    text-align: center;
}

.button_login {
    padding: 0px 32px;
}