<ion-app>
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Encal
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list *ngIf="!isLoading">
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/introducao">
            <ion-icon name="book" slot="start"></ion-icon>
            <ion-label>Introdução</ion-label>
          </ion-item>
          <ion-item lines="none" routerLink="/calendario">
            <ion-icon name="book" slot="start"></ion-icon>
            <ion-label>Calendário</ion-label>
          </ion-item>
          <ion-item lines="none" routerLink="/projetos" *ngIf="currentUser && currentUser.permissoes[15]">
            <ion-icon name="chatboxes" slot="start"></ion-icon>
            <ion-label>Projetos</ion-label>
          </ion-item>
          <ion-item lines="none" routerLink="/tarefas">
            <ion-icon name="book" slot="start"></ion-icon>
            <ion-label>Tarefas</ion-label>
          </ion-item>
          <ion-item lines="none" routerLink="/contato">
            <ion-icon name="call" slot="start"></ion-icon>
            <ion-label>Contato</ion-label>
          </ion-item>
          <ion-item lines="none" routerLink="/grupos" *ngIf="currentUser && currentUser.permissoes[0]">
            <ion-icon name="chatboxes" slot="start"></ion-icon>
            <ion-label>Grupos</ion-label>
          </ion-item>
          <ion-item lines="none" routerLink="/usuarios" *ngIf="currentUser && currentUser.permissoes[2]">
            <ion-icon name="contacts" slot="start"></ion-icon>
            <ion-label>Usuários</ion-label>
          </ion-item>
          <ion-item lines="none" routerLink="/aprovacao" *ngIf="currentUser && currentUser.permissoes[6]">
            <ion-icon name="archive" slot="start"></ion-icon>
            <ion-label>Aprovação</ion-label>
          </ion-item>
          <ion-item lines="none" routerLink="/prestadores" *ngIf="currentUser && currentUser.permissoes[9]">
            <ion-icon name="wallet" slot="start"></ion-icon>
            <ion-label>Prestadores</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="onLogout()" button>
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
