<ion-header>
    <ion-toolbar>
      <ion-title>Usuários</ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="closeModal()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label>Usuário</ion-label>
    </ion-item>
  
    <ion-card-content>
      <ion-list>
        <ion-item lines="none" *ngFor="let usuario of usuarioList">
          <ion-label>{{ usuario.nome }}</ion-label>
          <ion-checkbox slot="end" (click)="addAvaliadores(usuario, $event)" [checked] = "this.avaliadoresSelecionadosArray.includes(usuario.id.toString())"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
